<%- include("../partials/_header") %>
  <main id="main" class="main">
    <div class="pagetitle">
      <h1><i class="bi bi-cash-coin"></i>&nbsp;Cash Overview</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Cash Overview</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-xxl-12 col-md-12">
              <table id="cashOverView" class="table" style="width:100%">
                <thead>
                  <tr>
                    <th class="cashviewtd"></th>
                    <th class="cashviewtd"></th>
                    <th class="cashviewtd"></th>
                    <th class="cashviewtd"></th>
                    <th style="background-color: #ffffff !important;color:#03501f !important">Opening Balance</th>
                    <th
                      style="background-color: #ffffff !important;font-weight: bold;font-size: 16px;color: #03501f !important;">
                      ₹ <%= parseFloat(openbalance).toFixed(2) %>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% var orderNo="" ; var total_amount=0.0; var credit_amount=0.0; var debit_amount=0.0;
                    total_amount=openbalance; credit_amount=0.0; debit_amount=0.0; if(orders) { for(var idx=0;
                    idx<orders.length; idx++) { %>
                    <% if(orderNo !=orders[idx].order_no) { %>
                    
                    <tr>
                      <td>Order</td>
                      <td>Order Date</td>
                      <td>Action Type</td>
                      <td>Credit</td>
                      <td>Debit</td>
                      <td>Amount</td>
                    </tr>
                    <% } %>
                    <% orderNo=orders[idx].order_no; %>
                              <tr>
                                <td  class="cashviewtd">
                                  <%= orders[idx].order_no %>
                                </td>
                                <td  class="cashviewtd">
                                  <%= orders[idx].order_date %>
                                </td>
                                <td  class="cashviewtd">
                                  <%= orders[idx].action_type %>
                                </td>
                                <td class="cashviewtd text-success" style="font-weight: bold;font-size: 15px;">
                                  <% if(orders[idx].amount_type==1) { %>
                                    ₹ <%= orders[idx].trans_amount.toFixed(2) %>
                                      <% credit_amount=parseFloat(orders[idx].trans_amount) + parseFloat(credit_amount);
                                        %>
                                        <% } %>
                                </td>
                                <td class="cashviewtd text-danger" style="font-weight: bold;font-size: 15px;">
                                  <% if(orders[idx].amount_type==2) { %>
                                    ₹ <%= orders[idx].trans_amount.toFixed(2) %>
                                      <% debit_amount=parseFloat(orders[idx].trans_amount) + parseFloat(debit_amount);
                                        %>
                                        <% } %>
                                </td>
                                <% if(orders[idx].amount_type==1) { %>
                                  <td class="cashviewtd text-success" style="font-weight: bold;font-size: 15px;">
                                    <% } else { %>
                                  <td class="cashviewtd text-danger" style="font-weight: bold;font-size: 15px;">
                                    <% } %>
                                      <% if(orders[idx].amount_type!=0) { %>
                                        ₹ <%= orders[idx].trans_amount.toFixed(2) %>
                                          <% } %>
                                  </td>
</tr>
                                  <% } } %>
                </tbody>
                <tfoot>
                  <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td style="font-weight: bold;font-size: 13px;">
                      Available Balance
                    </td>
                    <td class="text-primary" style="font-weight: bold;font-size: 16px;">
                      <form action="/updatebalance" method="POST">
                        <div class="input-group">
                          <input type="number" placeholder="Advance Amount" class="form-control"
                          min="0" max="1000000000000" aria-label="Amount (to the nearest dollar)" 
                          name="balance" id="balance" value="<%= (parseFloat(total_amount) + parseFloat(credit_amount) -
                          parseFloat(debit_amount)).toFixed(2) %>" style="width: 10px; font-size: 15px; font-weight: bold;" readonly
                            >
                            <input type="hidden" value="2"  name="balanceType" id="balanceType" >
                            <span class="input-group-text"><button type="submit"><i class="bi bi-pin-map-fill " style="border:0px !important" ></i></button></span>
                        </div>
                       
                      </form>
                    </td>
                  </tr>
                </tfoot>

              </table>

            </div>
          </div>
        </div>
      </div>
      <hr>

    </section>

  </main><!-- End #main -->
  <script>
  
  </script>
  <%- include("../partials/_footer") %>