<%- include("../partials/_header") %>
  <main id="main" class="main">
    <div class="row">
      <div class="col-xxl-6 col-md-6 d-flex justify-content-start">
        <div class="pagetitle">
          <h1><i class="bi bi-bag-check-fill"></i>&nbsp;Order Overview</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Order Overview</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="col-xxl-6 col-md-6 " style="text-align: end;">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#basicModal">
          <i class="bi bi-bag-plus"></i>&nbsp;Create New Order
        </button>&nbsp;&nbsp;
      </div>
  </div>
  <br>
 
    <section class="section dashboard">
      
      <div class="row" >
        <div class="col-lg-12">
          <div class="row">
            <div class="col-xxl-12 col-md-12">
              <table id="example" class="ui celled table" style="width:100%">
                <thead>
                  <tr>
                    <th>Order #</th>
                    <th>Item Type</th>
                    <th>Rate</th>
                    <th>Weight</th>
                    <th>Item Amt</th>
                    <th>Discount</th>
                    <th>Total</th>
                    <th>Paid</th>
                    <th>GoldSmith</th>
                    <th>Order On</th>
                    <th>Payment</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% if(stocks) { for(var idx=0; idx<stocks.length; idx++) { %>
                    <tr>
                     <td>
                       <i class="bi bi-bookmark-check-fill text-success"></i>&nbsp;<a href="vieworderdet?m=1&o=<%= stocks[idx].ORDER_NO %>&ot=<%= stocks[idx].CAT_TYPE %>&ia=<%= stocks[idx].ITEM_AMT %>&aa=<%= stocks[idx].ADVANCE_AMT %>"><%= stocks[idx].ORDER_NO %></a>
                      </td>
                      <td>
                        <%= stocks[idx].ITEM_TYPE %>
                      </td>
                      <td>
                        ₹ <%= stocks[idx].RATE.toFixed(2) %>
                      </td>
                      <td>
                        <%= stocks[idx].WEIGHT.toFixed(2) %><small> grams</small>
                      </td>
                      <td>
                        ₹ <%= (stocks[idx]).ITEM_AMT.toFixed(2) %> 
                      </td>
                      <td>
                        ₹ <%= stocks[idx].DISCOUNT_AMT.toFixed(2)  %> 
                      </td>
                      <td>
                        ₹ <%= (stocks[idx].ITEM_AMT - stocks[idx].DISCOUNT_AMT).toFixed(2)  %> 
                      </td>
                      <td>
                        ₹ <%= (stocks[idx].TOTAL_AMT + stocks[idx].ADVANCE_AMT).toFixed(2) %> 
                      </td>
                       <td>
                        <% if(stocks[idx].ORDER_TYPE!=3) { %>
                        <% if(stocks[idx].GOLDSMITH_USER_ID) { %>
                          <%= stocks[idx].GOLDSMITH_NAME %>
                          <a href="#" onclick="openAssignTo('<%= stocks[idx].ORDER_ID %>', '<%= stocks[idx].ORDER_NO %>');">
                            <i class="bi bi-pencil"></i>&nbsp;Change
                          </a>&nbsp;&nbsp
                        <% } else { %>
                          <button type="button" class="btn btn-primary btn-sm" onclick="openAssignTo('<%= stocks[idx].ORDER_ID %>', '<%= stocks[idx].ORDER_NO %>');">
                            <i class="bi bi-plus-circle"></i>&nbsp;Set Goldsmith
                          </button>&nbsp;&nbsp
                        <% } } %>
                      </td>
                      <td>
                        <%= new Date(stocks[idx].CREATED_ON).toLocaleString() %>
                      </td>
                      <td>
                        <% if(stocks[idx].IS_PAYMENT_DONE ==1) { %>
                          <i class="bi bi-check-circle-fill text-success"></i>&nbsp;Paid
                        <%} else {%>  
                          <i class="bi bi-circle-fill text-danger"></i>&nbsp;Pending
                        <%}%>
                      </td>
                      <td>
                        <% if(stocks[idx].STATUS==1) { %>
                             ORDER PLACED
                          <% } else if(stocks[idx].STATUS==2) { %>
                             ORDER ASSIGNED TO GOLDSMITH
                          <% } else if(stocks[idx].STATUS==3) { %>
                             ITEM RECEIVED
                          <% } else if(stocks[idx].STATUS==4) { %>
                             ITEM DELIVERED
                          <% } else if(stocks[idx].STATUS==5) { %>
                             ORDER COMPLETED
                          <% } else if(stocks[idx].STATUS==6) { %>
                             ORDER HOLD
                          <% } else if(stocks[idx].STATUS==7) { %>
                             ORDER CANCELLED
                          
                          <% } %>

                        
                      </td>
                     <td>  <% if(stocks[idx].STATUS!=5) { %>
                      <form action="/deleteOrder" method="GET">
                        <input type="hidden" id="deleteOrderNumber" name="deleteOrderNumber" value="<%= stocks[idx].ORDER_NO %>">
                        &nbsp;&nbsp;<button type="submit" class="btn btn-outline-danger btn-sm" >
                        <i class="bi bi-trash"></i>&nbsp;</button>&nbsp;&nbsp
                      </form>
                    <% } %></td>
                    </tr>
                    <% } } %>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="basicModal" tabindex="-1">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="card-title">New Order</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/neworder" method="POST">
              <div class="modal-body">

                <div class="card border-0 shadow-none">
                  
                  <div class="card-body">
                    <!-- No Labels Form -->
                    <div class="row g-3">
                      <div class="col-md-2">
                        <div class="input-group mb-3">
                          <select name="orderType" id="orderType" class="form-select" aria-label="Default select example"
                            required>
                            <option value="1">Customer Order</option>
                            <option value="2">Shop Order</option>
                            <option value="3">Miscellaneous Order</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-1">
                        <div class="input-group mb-3">
                          <select name="catType" id="catType" class="form-select" aria-label="Default select example"
                            required>
                            <option value="1">MYD - Mayiladuthurai</option>
                            <option value="2">CH - Chennai</option>
                            <option value="3">ARCT - Thanjavur</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="input-group mb-3">
                          <input type="text" placeholder="Name of the Customer" class="form-control" aria-label=""
                            name="name" id="name" required>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="input-group mb-3">
                          <input placeholder="Mobile Number" class="form-control" aria-label="" maxlength="10"
                          min="0" max="1000000000000" name="mobile" id="mobile" type="number" maxlength="10" required  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" >
                      </div>
                      </div>
                      <div class="col-md-4">
                        <div class="input-group mb-3">
                          <input type="text" placeholder="Customer Address" class="form-control" aria-label=""
                            name="address" id="address" >
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="input-group mb-3">
                          <input type="text" placeholder="Item Type" class="form-control" aria-label=""
                            name="itemType" id="itemType" required>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="input-group mb-3">
                          <span class="input-group-text">Rs</span>
                          <input type="text" placeholder="Material Rate" class="form-control"
                            aria-label="Rate" name="rate" id="rate">
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="input-group mb-3">
                          <input type="text" placeholder="Material Weight" class="form-control"
                            aria-label="Amount (to the nearest dollar)" name="weight" id="weight" required>
                          <span class="input-group-text">grams</span>
                        </div>
                      </div>
                    
                      <div class="col-md-3">
                        <div class="input-group mb-3">
                          <span class="input-group-text">Rs</span>
                          <input type="number" placeholder="Material Amount" class="form-control"
                          min="0" max="1000000000000" aria-label="Amount (to the nearest dollar)" name="itemAmount" id="itemAmount"
                            readonly>
                        </div>
                      </div>
                      
                      <div class="col-md-3">
                        <div class="input-group mb-3">
                          <input type="text" placeholder="Old Item Type" class="form-control" aria-label=""
                            name="olditemType" id="olditemType">
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="input-group mb-3">
                          <span class="input-group-text">Rs</span>
                          <input type="text" placeholder="Material Rate" class="form-control"
                            aria-label="Amount (to the nearest dollar)" name="oldRate" id="oldRate" >
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="input-group mb-3">
                          <input type="text" placeholder="Material Weight" class="form-control"
                            aria-label="Amount (to the nearest dollar)" name="oldWeight" id="oldWeight" >
                          <span class="input-group-text">grams</span>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="input-group mb-3">
                          <span class="input-group-text">Rs</span>
                          <input type="text" placeholder="Old Material Amount" class="form-control"
                            aria-label="Amount (to the nearest dollar)" name="oldItemAmount" id="oldItemAmount"  readonly>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="input-group mb-3">
                          <span class="input-group-text">Delivered Date</span>
                          <input type="date" placeholder="Material Amount" class="form-control"
                            aria-label="Amount (to the nearest dollar)" name="deliveredDate" id="deliveredDate" >
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="input-group mb-3">
                          <span class="input-group-text">Rs</span>
                          <input type="number" placeholder="Advance Amount" class="form-control"
                          min="0" max="1000000000000" aria-label="Amount (to the nearest dollar)" name="advanceAmount" id="advanceAmount" 
                            >
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="input-group mb-3">
                          <span class="input-group-text">Payment Mode</span>
                          <select name="paymentMode" id="paymentMode" class="form-select" aria-label="Default select example"
                            required>
                            <option value="1">None</option>
                            <option value="2">Cash</option>
                            <option value="3">E-Transfer</option>
                            <option value="4">Card</option>
                            <option value="5">UPI</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="input-group mb-3">
                          <span class="input-group-text">Balance</span>
                          <input type="text" placeholder="Balance Amount" class="form-control text-success"
                            aria-label="Amount (to the nearest dollar)" style="font-weight: bold;font-size: 18px;" name="balanceAmount" id="balanceAmount" readonly>
                        </div>
                      </div>
                     
                    </div><!-- End No Labels Form -->

                  </div>
                </div>


              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Place Order</button>
              </div>
            </form>
          </div>
        </div>
      </div><!-- End Basic Modal-->

      <div class="modal fade" id="goldsmithModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="card-title">Order Assign To </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/assignTo" method="POST">
              <div class="modal-body">
                <div class="row g-3" id="divGoldSmith">
                  <div class="col-md-3">
                    <h4>Order Number</h4>
                  </div>
                  <div class="col-md-7" id="divName">
                    <input type="text" id="orderNumber" name="orderNumber" class="form-control" readonly> 
                    <input type="text" id="orderId" name="orderId" class="form-control" style="color: #ffffff; border: 0px; width: 0px;" readonly> 
                    </div>
                    <div class="row g-3" id="divGoldSmith">
                      <div class="col-md-3">
                        <h4>Goldsmith Name</h4>
                      </div>
                      <div class="col-md-7" id="divName">
                        <div class="input-group mb-3">
                          <select name="userId" id="userId" class="form-select"
                            aria-label="Default select example">
                              <% if(users) { for(var idx=0; idx<users.length; idx++) { %>
                                <option value="<%= users[idx].USER_ID %>"><%= users[idx].NAME %>  [<%= users[idx].INSTOCK_WEIGHT %> grams]</option>
                              <% } } %>
                          </select>
                        </div>
                      </div>
                      
                      <div class="col-md-2" id="divAdd">
                        <div class="input-group mb-3">
                          <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#addgoldsmithModal">
                            <i class="bi bi-person-plus-fill"></i>
                          </button>
                        </div>
                      </div>
                     
                    </div><!-- End No Labels Form -->


              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Set</button>
              </div>
            </form>
          </div>
        </div>
      </div><!-- End Basic Modal-->
      <div class="modal fade" id="addgoldsmithModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="card-title">Add Gold Smith</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/adduser" method="POST">
              <div class="modal-body">

                   <!-- No Labels Form -->
                    <div class="row g-3">

                      <div class="col-md-12" id="divName">
                        <div class="input-group mb-3">
                          <span class="input-group-text">Name</span>
                          <input type="text" placeholder="Gold Smith" class="form-control"
                            aria-label="Amount (to the nearest dollar)" name="gname" id="gname">

                        </div>
                      </div>
                      <div class="col-md-12" id="divMobile">
                        <div class="input-group mb-3">
                          <span class="input-group-text">Mobile</span>
                          <input placeholder="Mobile Number" class="form-control" aria-label="" maxlength="10"
                           min="0" max="1000000000000" name="gmobile" id="gmobile" type="number" maxlength="10"
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                        </div>
                      </div>
                    </div><!-- End No Labels Form -->

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div><!-- End Basic Modal-->
      <div class="modal fade" id="dGoldsmithModal" tabindex="-1">
        <div class="modal-dialog">
          
        </div>
      </div><!-- End Basic Modal-->
    </section>

  </main><!-- End #main -->
  <script>
     function openAssignTo(orderId, orderNo){
      //alert(order + " " + orderNo);
      $('#orderNumber').val(orderNo);
      $('#orderId').val(orderId);
      $('#goldsmithModal').modal('show');
    };

    
    function deleteOrderNumber(orderNo){
    //  $('#delOrderNumber').val(orderNo);
      $('#dGoldsmithModal').modal('show');
    };

    var now = new Date();
    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);
    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;
    $('#deliveredDate').val(today);
    
    $('#weight').on('input', function (e) {
      var weight = $("#weight").val();
      var rate = $("#rate").val();
      $("#itemAmount").val(calculateAmount(weight, rate));
      calculateBalanceAmount();
    });
    $('#rate').on('input', function (e) {
      var weight = $("#weight").val();
      var rate = $("#rate").val();
      $("#itemAmount").val(calculateAmount(weight, rate));
      calculateBalanceAmount();
    });
    $('#oldWeight').on('input', function (e) {
      var weight = $("#oldWeight").val();
      var rate = $("#oldRate").val();
      $("#oldItemAmount").val(calculateAmount(weight, rate));
      calculateBalanceAmount();
    });
    $('#oldRate').on('input', function (e) {
      var weight = $("#oldWeight").val();
      var rate = $("#oldRate").val();
      $("#oldItemAmount").val(calculateAmount(weight, rate));
      calculateBalanceAmount();
    });
    $('#advanceAmount').on('input', function (e) {
      calculateBalanceAmount();
    });
    function calculateBalanceAmount() {
      var itemAmount = isNull($("#itemAmount").val());
      var oldItemAmount = isNull($("#oldItemAmount").val());
      var advanceAmount = isNull($("#advanceAmount").val());
      var balanceAmount = (parseFloat(itemAmount) - parseFloat(oldItemAmount)) - parseFloat(advanceAmount);
      console.info(balanceAmount);
      if(balanceAmount == undefined || balanceAmount == '' || balanceAmount == NaN){
        balanceAmount = 0;
      }
      $("#balanceAmount").val(parseFloat(balanceAmount).toFixed(2));
    }
    function calculateAmount(weight, rate) {
      if (weight == null || weight == undefined) {
        weight = 0;
      }
      if (rate == null || rate == undefined) {
        rate = 0;
      }
      var amount = weight * rate;
      return parseFloat(amount).toFixed(2);
   }
   function isNull(value){
     return (value == null || value == undefined || value == NaN || value == '')?0:value;
   }

   $('#orderType').change(function () {
    console.log($('#orderType').val() );
      if ($('#orderType').val() == '3') {
        $('#name').val("Miscelaneous");
        $('#mobile').val("1010101010");
        $('#address').val("Customer Visit");
        $('#itemType').val("Visit");
        $('#rate').val("0.0");
        $('#weight').val("0.0");
        $('#itemAmount').val("0.0");
      } else {
        $('#name').val("");
        $('#mobile').val("");
        $('#address').val("");
        $('#itemType').val("");
        $('#rate').val("");
        $('#weight').val("");
        $('#itemAmount').val("");
      }
    });
    $(document).ready(function () {
      $('#example').dataTable({
        pageLength: 5,
        dom: 'Bfrtip',
        buttons: [{ 
                     extend: 'print',
                     title: "Order Overview Report", 
                     customize: function ( win ) {
                        $(win.document.body).find('h1').css('text-align', 'left');
                        $(win.document.body).css( 'font-size', '9px' );
                        $(win.document.body).find( 'table' )
                        .addClass( 'compact' )
                        .css( 'font-size', 'inherit' );
                }
              }
        ]
      });
    });
  </script>
  <%- include("../partials/_footer") %>