<%- include("../partials/_header") %>
<style>
  td{
    width: 150px !important;
  }
</style>
  <main id="main" class="main">
    <div class="pagetitle">
      <h1><i class="bi bi-inboxes-fill"></i>&nbsp;Order Details <a href="/viewOrder"><b class="text-primary">[ORDER :
            <%= orderNumber %> ]
          </b></a></h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/viewOrder">Order Overview</a></li>
          <li class="breadcrumb-item active">Order Details</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-xxl-10 col-md-10 d-flex justify-content-start border-1">
              <% if(stock) { for(var idx=0; idx<stock.length; idx++) { %>
                <a class="btn btn-light mb-2" href="viewgoldstockhis?st=1">
                  Instock <span class="badge bg-secondary text-light">
                    <%= stock[idx].INSTOCK_WEIGHT %>
                  </span>
                </a>
                <a class="btn btn-light mb-2" href="viewgoldstockhis?st=2">
                  Outstock <span class="badge bg-secondary text-light">
                    <%= stock[idx].OUTSTOCK_WEIGHT %>
                  </span>
                </a>
                <button type="button" class="btn btn-light mb-2">
                  Received <span class="badge bg-secondary text-light">
                    <%= stock[idx].RECEIVED_WEIGHT %>
                  </span>
                </button>
                
                <% } } %>
            </div>
            <div class="col-xxl-2 col-md-2 d-flex justify-content-end">
              <% if(isItemDeliveredFromGS == 0){ %>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#basicModal">
                  <i class="bi bi-plus-circle"></i>&nbsp;Add Order Info
                </button>
              <% } else { %>
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#basicModal">
                <i class="bi bi-plus-circle"></i>&nbsp;Change Order Status
              </button>
              <% } %>
            </div>
          </div>

        </div>
      </div>
      <hr>
      <div class="row" style="overflow-y: auto; max-height: 50%;height: 50%">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-xxl-12 col-md-12">
              <table class="ui celled table" style="width:100%">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Action</th>
                    <th>Sent (Grams)</th>
                    <th>Received (Grams)</th>
                    <th>Credit Amount (Rs)</th>
                    <th>Debit Amount (Rs)</th>
                  </tr>
                </thead>
                <tbody>
                  <% if(orderDetails) { for(var idx=0; idx<orderDetails.length; idx++) { %>
                    <tr>
                      <td>
                        <%= new Date(orderDetails[idx].CREATED_ON).toString().slice(0,25) %>
                      </td>
                      <td>
                        <% if(orderDetails[idx].ACTION_TYPE_ID==1) { %>
                          <h3><i class="bi bi-bag-check-fill"></i>&nbsp;
                            <% } else if(orderDetails[idx].ACTION_TYPE_ID==2) { %>
                              <h3><i class="bi bi-person-check-fill"></i>&nbsp;
                                <% } else if(orderDetails[idx].ACTION_TYPE_ID==3) { %>
                                  <h3><i class="bi bi-cash"></i>&nbsp;
                                    <% } else if(orderDetails[idx].ACTION_TYPE_ID==4) { %>
                                      <h3><i class="bi bi-person-lines-fill"></i>&nbsp;
                                        <% } else if(orderDetails[idx].ACTION_TYPE_ID==5) { %>
                                          <h3><i class="bi bi-cash-stack"></i>&nbsp;
                                            <% } else if(orderDetails[idx].ACTION_TYPE_ID==6) { %>
                                              <h3><i class="bi bi-cash-coin"></i>&nbsp;
                                                <% } else if(orderDetails[idx].ACTION_TYPE_ID==7) { %>
                                                  <h3><i class="bi bi-check-circle-fill text-success"></i>&nbsp;
                                                    <% } else if(orderDetails[idx].ACTION_TYPE_ID==8) { %>
                                                      <h3><i class="bi bi-stop-circle-fill text-warning"></i>&nbsp;
                                                        <% }  else if(orderDetails[idx].ACTION_TYPE_ID==9) { %>
                                                        <h3><i class="bi bi-x-circle-fill text-danger"></i>&nbsp;
                                                        <% } %>
                                                          <%= orderDetails[idx].ACTION_TYPE %>
                                                      </h3>

                                                      <table style="border: 1px solid #a8a6a6;"> <!--Order Placed-->
                                                        <% if(orderDetails[idx].ACTION_TYPE_ID==1){ %>
                                                          <tr>
                                                            <td colspan="2" class="text-primary"><b>Order details</b>
                                                            </td>
                                                          </tr>

                                                            <td><b>Weight</b></td>
                                                            <td><b>
                                                                <%= orderDetails[idx].WEIGHT %> grams
                                                              </b></td>
                                                          </tr>
                                                          <% } else if(orderDetails[idx].ACTION_TYPE_ID==2){ %><!--Order Assigned To Goldsmith-->
                                                            <tr>
                                                              <td colspan="2" class="text-danger"><b>User details</b>
                                                              </td>
                                                            </tr>

                                                            <tr>
                                                              <td><b>Name</b></td>
                                                              <td><b>
                                                                  <%= orderDetails[idx].NAME %>
                                                                </b></td>
                                                            </tr>

                                                            <% } else if(orderDetails[idx].ACTION_TYPE_ID==3){ %><!--Advance Amount-->
                                                              <tr>
                                                                <td colspan="2" class="text-success"><b>Payment
                                                                    details</b></td>
                                                              </tr>

                                                              <tr>
                                                                <td><b>Amount</b></td>
                                                                <td><b>
                                                                    <%= orderDetails[idx].AMOUNT %>
                                                                  </b></td>
                                                              </tr>
                                                              <tr>
                                                                <td><b>Payment Mode</b></td>
                                                                <td><b>
                                                                    <% if(orderDetails[idx].PAYMENT_MODE==1){  %>
                                                                      Cash
                                                                    <% }else if(orderDetails[idx].PAYMENT_MODE==2){  %>
                                                                      E-Transfer
                                                                    <% } else if(orderDetails[idx].PAYMENT_MODE==3){  %>
                                                                      Card
                                                                    <% } else if(orderDetails[idx].PAYMENT_MODE==4){  %>
                                                                      UPI
                                                                    <% } %>
                                                                  </b></td>
                                                              </tr>
                                                              <% } else if(orderDetails[idx].ACTION_TYPE_ID==4){ %> <!--Item Received from Goldsmith-->
                                                                <tr>
                                                                  <td colspan="2" class="text-primary"><b>Received
                                                                      details</b></td>
                                                                </tr>

                                                                
                                                                <tr>
                                                                  <td><b>Weight</b></td>
                                                                  <td><b>
                                                                      <%= orderDetails[idx].WEIGHT %> grams
                                                                    </b></td>
                                                                </tr>
                                                                <% } else if(orderDetails[idx].ACTION_TYPE_ID==5){ %> <!--Wages-->
                                                                  <tr>
                                                                    <td colspan="2" class="text-success"><b>Wages
                                                                        details</b></td>
                                                                  </tr>
                                                                  <tr>
                                                                    <td><b>Name</b></td>
                                                                    <td><b>
                                                                        <%= orderDetails[idx].WAGES_NAME %>
                                                                      </b></td>
                                                                  </tr>
                                                                  <tr>
                                                                    <td><b>Amount</b></td>
                                                                    <td><b>
                                                                        <%= orderDetails[idx].AMOUNT %>
                                                                      </b></td>
                                                                  </tr>
                                                                  <tr>
                                                                    <td><b>Payment Mode</b></td>
                                                                    <td><b>
                                                                      <% if(orderDetails[idx].PAYMENT_MODE==1){  %>
                                                                        Cash
                                                                      <% } else if(orderDetails[idx].PAYMENT_MODE==2){  %>
                                                                        E-Transfer
                                                                      <% } else if(orderDetails[idx].PAYMENT_MODE==3){  %>
                                                                        Card
                                                                      <% } else if(orderDetails[idx].PAYMENT_MODE==4){  %>
                                                                        UPI
                                                                      <% } %>
                                                                      </b></td>
                                                                  </tr>
                                                                  <% } else if(orderDetails[idx].ACTION_TYPE_ID==6){ %> <!--Wages-->
                                                                    <tr>
                                                                      <td colspan="2" class="text-success"><b>Goldsmith Payment 
                                                                          details</b></td>
                                                                    </tr>
                                                                   
                                                                    <tr>
                                                                      <td><b>Amount</b></td>
                                                                      <td><b>
                                                                          <%= orderDetails[idx].AMOUNT %>
                                                                        </b></td>
                                                                    </tr>
                                                                    <tr>
                                                                      <td><b>Payment Mode</b></td>
                                                                      <td><b>
                                                                        <% if(orderDetails[idx].PAYMENT_MODE==1){  %>
                                                                          Cash
                                                                        <% } else if(orderDetails[idx].PAYMENT_MODE==2){  %>
                                                                          E-Transfer
                                                                        <% } else if(orderDetails[idx].PAYMENT_MODE==3){  %>
                                                                          Card
                                                                        <% } else if(orderDetails[idx].PAYMENT_MODE==4){  %>
                                                                          UPI
                                                                        <% } %>
                                                                        
                                                                        </b></td>
                                                                    </tr>
                                                                  <% } %>
                                                      </table>
                      </td>
                      <td>
                        <% if(orderDetails[idx].ACTION_TYPE_ID==3){ %>
                            <% } %>
                      </td>
                      <td>
                        <% if(orderDetails[idx].ACTION_TYPE_ID==4){ %>
                          <%= orderDetails[idx].WEIGHT %> grams <br>
                            <% } %>
                      </td>
                      <td>
                        <% if(orderDetails[idx].AMOUNT_TYPE==1 && orderDetails[idx].ACTION_TYPE_ID!=1){ %>
                          Rs.<%= orderDetails[idx].AMOUNT %>
                            <% } %>
                      </td>
                      <td>
                        <% if(orderDetails[idx].AMOUNT_TYPE==2 && orderDetails[idx].ACTION_TYPE_ID!=1){ %>
                          Rs.<%= orderDetails[idx].AMOUNT %>
                            <% } %>
                      </td>
                    </tr>
                    <% } } %>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="basicModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="card-title">Add Order Details</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/addOrderInfo" method="POST">
              <div class="modal-body">
                <div class="">
                  <div class="">
                    <div class="row g-3">
                      <div class="col-md-12">
                        <div class="input-group mb-3">
                          <span class="input-group-text">Action Type</span>
                          <select name="atype" id="atype" class="form-select" aria-label="Default select example"
                            required>
                            <option value="0">
                              Select any one
                            </option>
                            <% if(rowsActionType) { for(var idx=2; idx<rowsActionType.length; idx++) { %>
                              <option value="<%= rowsActionType[idx].ACTION_TYPE_ID %>">
                                <%= rowsActionType[idx].ACTION_TYPE %>
                              </option>
                              <% } } %>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div id="gramMode" class="row g-3">

                      <div class="col-md-12">
                        <div class="input-group mb-3">
                          <span class="input-group-text">Item Weight</span>
                          <input type="number" placeholder="Weight" class="form-control"
                            aria-label="Amount (to the nearest dollar)" name="weight" id="weight">
                          <span class="input-group-text">grams</span>
                        </div>
                      </div>
                    </div>

                    <div id="paymentMode" class="row g-3">
                      <div class="col-md-12" id="wagesName">
                        <div class="input-group mb-3">
                          <span class="input-group-text">Name</span>
                          <input type="text" placeholder="Wages's Name" class="form-control"
                            aria-label="Amount (to the nearest dollar)" name="wagesName" id="wagesName">

                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="input-group mb-3">
                          <span class="input-group-text">Payment Mode</span>
                          <select name="paymentMode" id="paymentMode" class="form-select"
                            aria-label="Default select example">
                            <option value="0">None</option>
                            <option value="1">Cash</option>
                            <option value="2">E-Transfer</option>
                            <option value="3">Card</option>
                            <option value="4">UPI</option>
                          </select>
                        </div>
                      </div>
                     
                      <div class="col-md-4">
                        <div class="input-group mb-3">
                          <span class="input-group-text">Rs</span>
                          <input type="number" placeholder="Amount" class="form-control"
                            aria-label="Amount (to the nearest dollar)" name="amount" id="amount">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="input-group mb-3">
                          <textarea placeholder="Content" class="form-control"
                            aria-label="Amount (to the nearest dollar)" name="content" id="content" rows="5"
                            cols="255"></textarea>
                        </div>
                      </div>
                    </div>
                  </div><!-- End No Labels Form -->

                </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div><!-- End Basic Modal-->
    </section>

  </main><!-- End #main -->
  <script>
    $('#gramMode').hide();
    $('#wagesName').hide();
    $('#paymentMode').hide();
    $('#atype').change(function () {
      if ($('#atype').val() == '3' || $('#atype').val() == '5' || $('#atype').val() == '6') {
        if ($('#atype').val() == '5') {
          $('#wagesName').show();
        }
        $('#gramMode').hide();
        $('#paymentMode').show();
      } else if ($('#atype').val() == '4') {
        $('#gramMode').show();
        $('#paymentMode').hide();
        $('#wagesName').hide();
      } else {
        $('#gramMode').hide();
        $('#paymentMode').hide();
        $('#wagesName').hide();
      }
    });
    $('#weight').on('input', function (e) {
      var weight = $("#weight").val();
      var rate = $("#rate").val();
      calculateAmount(weight, rate);
    });
    $('#rate').on('input', function (e) {
      var weight = $("#weight").val();
      var rate = $("#rate").val();
      calculateAmount(weight, rate);
    });
    function calculateAmount(weight, rate) {
      if (weight == null || weight == undefined) {
        weight = 0;
      }
      if (rate == null || rate == undefined) {
        rate = 0;
      }
      var amount = weight * rate;
      $("#purchaseAmount").val(amount);

    }
  </script>
  <%- include("../partials/_footer") %>